[Desktop Entry]
Type=Application
Name=Mirror
Comment=Mirror camera app
Exec=mirror
Icon=com.example.mirror
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=com.example.mirror
